<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()">
  <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input name="username" required [(ngModel)]="username" type="text" value=""></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input name="password" required [(ngModel)]="password"  type="password" value=""></ion-input>
      </ion-item>
    
    </ion-list>
    
    <div padding>
      <ion-button primary block type="submit" (click)="login()">Sign In</ion-button>
    </div>
  </form>
</ion-content>
